In [1]:
import mysql.connector as con

In [4]:
cnx = con.connect(user='root', password=';laskdhf;23k4%35',
                              host='localhost',
                              database='mysql')

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (111)