In [1]:
import mysql.connector as con

In [59]:
import datetime as dat
now = dat.datetime.now()
now

datetime.datetime(2022, 12, 4, 17, 45, 59, 439144)

In [7]:
cnx = con.connect(user='root', password=';laskdhf;23k4%35',
                              host='localhost')

In [8]:
cnx

In [9]:
cursor = cnx.cursor()

In [41]:
cursor.execute("show databases")

In [42]:
cursor.fetchall()

[('db1',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',)]

In [40]:
cursor.execute("create database db1")

In [45]:
cursor.execute("create table db1.table1(roll INTEGER(10) PRIMARY KEY,"
               'date DATETIME,' 
               'name VARCHAR(30))')

In [54]:
cursor.execute("use db1")

In [55]:
cursor.execute("show tables")

In [56]:
cursor.fetchall()

[('table1',)]

In [62]:
now.strftime('%Y-%m-%d %H:%M:%S')

'2022-12-04 17:45:59'

In [68]:
aa = 'ddd'

In [69]:
cursor.execute("INSERT INTO db1.table1 (roll, date, name) VALUES (%s, '%s', %s)",
               (1, now, aa))

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '2022-12-04 17:45:59.439144'', 'ddd')' at line 1

In [ ]:
`